/*align background image size*/
body {
	background-image: url("IMG/image.jpg"); 
}
h4{
	color: white;
	background-color: black;
}
h2{
	color: white;
	padding: 1px;
}
.center{
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}
.Sec_center{
    margin: auto;
    width: 50%;
    height: 50%;
    border: 3px;
    padding: 10px;
}
.login{
	    border-style: solid;
    align-items: center;
    height: 200px;
    width: 400px;
    color: white;
    text-align: center;
}
.header{
	color: white;
	text-align: center;
	font-size: 5rem;
}
@media print{
    body{
        width: 100%
    }
}


@media only screen and (min-width: 375px) {
 [class*="col-"] {
        width: 100%;
    }    
}

@media only screen and (min-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 1020px) {
     [class*="col-"] {
        width: 100%;
    }
}